    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="serviceheading">Front-End Dev</h4>
                    <ul class="skillslist">
                        <li>HTML5/CSS3</li>
                        <li>JavaScript</li>
                        <li>AngularJS</li>
                        <li>Materialize</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="serviceheading">Business Strategy</h4>
                    <ul class="skillslist">
                        <li>Business Model Formulation</li>
                        <li>Brand Conceptualization</li>
                        <li>Strategic Planning</li>
                        <li>Brand Development and Communication</li>
                        <li>Market Implementation</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="serviceheading">Back-End Dev</h4>
                </div>                
            </div>
            <!-- <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div> -->
        </div>
    </section>