    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="skillsIcons fa-stack fa-4x">
                        <i class="fa fa-square-o fa-stack-2x">
                        
                        </i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse">

                        </i>
                    </span>
                    <h4 class="serviceheading">Front-End Dev</h4>
                    <ul class="skillslist">
                        <li class="skillsItem text-muted">HTML5/CSS3</li>
                        <li class="skillsItem text-muted">JavaScript</li>
                        <li class="skillsItem text-muted">AngularJS</li>
                        <li class="skillsItem text-muted">Materialize</li>
                        <li class="skillsItem text-muted">Bootstrap</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="serviceheading">Business Strategy</h4>
                    <ul class="skillslist">
                        <li class="skillsItem text-muted">Business Model Formulation</li>
                        <li class="skillsItem text-muted">Brand Conceptualization</li>
                        <li class="skillsItem text-muted">Strategic Planning</li>
                        <li class="skillsItem text-muted">Brand Development and Communication</li>
                        <li class="skillsItem text-muted">Market Implementation</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="serviceheading">Back-End Dev</h4>
                    <ul class="skillslist">
                        <li class="skillsItem text-muted">Node.js</li>
                        <li class="skillsItem text-muted">Express</li>
                        <li class="skillsItem text-muted">MongoDb</li>
                        <li class="skillsItem text-muted">Ruby on Rails</li>
                        <li class="skillsItem text-muted">Sinatra</li>
                    </ul>
                </div>                
            </div>
            <!-- <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div> -->
        </div>
    </section>